<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Kategorije</h1>
        </div>
    </div>
</div>

<br>

<table class="table table-striped table-bordered table-hover">
    <tr>
        <th>i</th>
        <th>_id</th>
        <th>categoryName</th>
        <th>getCategory(i)</th>
        <th>sendToEdit(category)</th>
        <th>deleteCategory(i)</th>
    </tr>

    <tr *ngFor="let category of categories; let i=index;">
        <td>{{i+1}}</td>

        <td>{{category._id}}</td>
        <td>{{category.categoryName}}</td>

        <td><button class="btn btn-success" (click)="getCategory(i)">Ispiši kategoriju</button></td>
        <td><button class="btn btn-warning" (click)="sendToEdit(category)">Uredi kategoriju</button></td>
        <td><button class="btn btn-danger" (click)="deleteCategory(i)">Izbriši kategoriju</button></td>
    </tr>
</table>

<div class="container">
    <div class="row">
        <div class="col-6">
            <h3>Nova kategorija</h3>
            <div class="form-group">
                <input type="text" class="form-control" [(ngModel)]="newCategoryName">
                <br>
                <button class="btn btn-info" (click)="addCategory()">Dodaj</button>
            </div>
        </div>

        <div class="col-6">
            <h3>Uredi kategoriju: {{edit_id}}</h3>
                <div class="form-group">
                    <input type="text" class="form-control" [(ngModel)]="editCategoryName">
                    <br>
                    <button class="btn btn-info"
                        (click)="editCategory({_id : this.edit_id, categoryName : this.editCategoryName})">Uredi</button>
                </div>
        </div>
    </div>
</div>