<nav class="navbar navbar-expand-md navbar-dark bg-danger">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="navbar-brand" routerLink="/" routerLinkActive="active">
                <img src="assets/img/logo.png" height="30" class="d-inline-block align-top" alt="">
            </a>
        </li>
    </ul>

    <ul class="navbar-nav ml-auto" style="float: right;">
        <div *ngIf="userIsLogged; else userIsNotLogged">
            <div *ngIf="userIsAdmin; else userIsNotAdmin">
                <li class="nav-item" style="float: left;">
                    <a class="nav-link text-light" routerLink="/administracija" routerLinkActive="active">Administracija</a>
                </li>

                <li class="nav-item" style="float: left; border-left: 1px solid rgb(255,255,255);">
                    <a class="nav-link text-light" routerLink="/novioglas" routerLinkActive="active">Novi oglas</a>
                </li>

                <li class="nav-item" style="float: left; border-left: 1px solid rgb(255,255,255);">
                    <a class="nav-link text-light" routerLink="/mojioglasi" routerLinkActive="active">Moji oglasi</a>
                </li>

                <li class="nav-item" style="float: left; border-left: 1px solid rgb(255,255,255);">
                    <a class="nav-link text-light" routerLink="/mojiprofil" routerLinkActive="active">Moji profil</a>
                </li>

                <li class="nav-item" style="float: left; border-left: 1px solid rgb(255,255,255);">
                    <a class="nav-link text-light" (click)="logout()">Odjava</a>
                </li>
            </div>


            <ng-template #userIsNotAdmin>
                <li class="nav-item" style="float: left;">
                    <a class="nav-link text-light" routerLink="/novioglas" routerLinkActive="active">Novi oglas</a>
                </li>

                <li class="nav-item" style="float: left; border-left: 1px solid rgb(255,255,255);">
                    <a class="nav-link text-light" routerLink="/mojioglasi" routerLinkActive="active">Moji oglasi</a>
                </li>

                <li class="nav-item" style="float: left; border-left: 1px solid rgb(255,255,255);">
                    <a class="nav-link text-light" routerLink="/mojiprofil" routerLinkActive="active">Moji profil</a>
                </li>

                <li class="nav-item" style="float: left; border-left: 1px solid rgb(255,255,255);">
                    <a class="nav-link text-light" (click)="logout()">Odjava</a>
                </li>

            </ng-template>
        </div>

        <ng-template #userIsNotLogged>
            <li class="nav-item" style="float: left;">
                <a class="nav-link text-light" routerLink="/prijava" routerLinkActive="active">Prijava</a>
            </li>

            <li class="nav-item" style="float: left; border-left: 1px solid rgb(255,255,255);">
                <a class="nav-link text-light" routerLink="/registracija" routerLinkActive="active">Registracija</a>
            </li>
        </ng-template>
    </ul>
</nav>